<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Screen</title>
</head>
<body>
    
<center>
    <h3>This is the home Screen</h3>
</center>



<a href="./allStudents"><h4>See all Prospective Students</h4></a>
<br><br>
<a href="./login"><h4>Login to access prospective Students</h4></a>
<br><br>
<a href="./SignUp"><h4>Sign up  to access prospective Students</h4></a>
<br><br>

</body>
</html>